<md-toolbar color="primary">Hello ngHouston</md-toolbar>
<div fxLayout="row" class="combined">
  <div class="select" fxFlex="50">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <h1>Choose a Recipe</h1>
      <md-select
      placeholder="Recipe" 
      color="accent"
      [formControl]="recipeControl"
      class="example-full-width">
      <md-option *ngFor="let recipe of recipes" [value]="recipe.id">
        {{ recipe.title }}
      </md-option>
    </md-select>
    </div>
  </div>
  <div class="view" fxFlex="50">
    <div fxLayoutAlign="center center" fxFlex>
        <p *ngIf="!recipe">Waiting for recipe...</p>
        <md-card class="card" *ngIf="recipe">
          <md-card-header>
            <!-- <div md-card-avatar class="example-header-image"></div> -->
            <md-card-title>{{ recipe.title }}</md-card-title>
            <md-card-subtitle>{{ recipe.description}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image [src]="recipe.imgUrl" alt="Spaghetti">
          <md-card-content>
            <p>Ingredients</p>
            <div fxLayout="row" *ngFor="let ingredient of recipe.ingredients">
              <p fxFlex="grow" fxFlex="20">{{ ingredient.name }}</p>
              <p fxFlex="noshrink">{{ ingredient.amount }}</p>
            </div>
          </md-card-content>
          <md-card-actions>
            <button md-button color="primary">LIKE</button>
            <button md-button color="primary">SHARE</button>
            <button md-button color="primary">EDIT</button>
          </md-card-actions>
        </md-card>
      </div>  
  </div>
</div>
<!-- <div class="edit">
  <md-toolbar color="primary">Editing:</md-toolbar>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <form class="example-form" [formGroup]="formGroup">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Title">
        </md-form-field>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Description">
        </md-form-field>
        <div align="end">
          <button md-button color="primary">Save</button>
          <button md-button color="primary">Cancel</button>
        </div>
      </form>
  </div>
</div> -->